*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.25rem;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  min-width: 12.5rem;
  width: 100%;
}

form > * + * {
  margin: 0.25rem 0 0 0;
}